{% extends "base.html" %}
{% block title %}{{ site_name }}{% endblock %}
{% block content %}
<h1 class="page-title">店舗一覧</h1>

<ul class="store-list">
  {% for sid, sname in stores.items() %}
    <li class="store-item">
      <div class="store-name">{{ sname }}</div>
      <div class="store-actions">
        <a class="btn" href="{{ url_for('staff_login', store_id=sid, next=url_for('view', store_id=sid)) }}">スタッフログイン</a>
        <a class="btn" href="{{ url_for('login_admin', store_id=sid, next=url_for('schedule', store_id=sid)) }}">管理者ログイン</a>
      </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}
